<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <title>Sistema de Debate</title>
  </head>
  <body>
                <div class="col-8 m-auto pt-3 pb-2 text-center">
                    <a href="/autenticar" class="btn btn-success">Autenticar-se</a>
                    <a href="/cadastrar" class="btn btn-success">Cadastrar-se</a>
                    <a href="/participantes" class="btn btn-success">Participantes</a>
                </div>
    <div class="row">
      <div class="col-sm-6 offset-md-3">

        <div class="post-content">
          <h4>Título da minha publicação</h4>
          <span class="text-muted small"><i class="fas fa-user"></i> Edmilson Rolas - <i class="far fa-clock"></i> 00/00/00 às 00:00</span>
          <div class="media">
            <img class="mr-3" src="images/coding.jpg">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              <p class="button"><a href="#" class="btn btn-info btn-sm">Ler Mais</a></p>
            </div>
          </div>
        </div>

        <div class="post-content">
          <h4>Título da minha publicação</h4>
          <span class="text-muted small"><i class="fas fa-user"></i> Edmilson Rolas - <i class="far fa-clock"></i> 00/00/00 às 00:00</span>
          <div class="media">
            <img class="mr-3" src="images/coding.jpg">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              <p class="button"><a href="#" class="btn btn-info btn-sm">Ler Mais</a></p>
            </div>
          </div>
        </div>

        <div class="post-content">
          <h4>Título da minha publicação</h4>
          <span class="text-muted small"><i class="fas fa-user"></i> Edmilson Rolas - <i class="far fa-clock"></i> 00/00/00 às 00:00</span>
          <div class="media">
            <img class="mr-3" src="images/coding.jpg">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              <p class="button"><a href="#" class="btn btn-info btn-sm">Ler Mais</a></p>
            </div>
          </div>
        </div>

        <div class="post-content">
          <h4>Título da minha publicação</h4>
          <span class="text-muted small"><i class="fas fa-user"></i> Edmilson Rolas - <i class="far fa-clock"></i> 00/00/00 às 00:00</span>
          <div class="media">
            <img class="mr-3" src="images/coding.jpg">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              <p class="button"><a href="#" class="btn btn-info btn-sm">Ler Mais</a></p>
            </div>
          </div>
        </div>

    </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>